@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
    /* font-family: 'Courier New', Courier, monospace;*/
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

body {
    background: black;
}

.menu {
    display: flex;                    /* puts logo and pages in one line */
    justify-content: space-between;   /* pushes logo left, pages right */
    align-items: center;              /* vertically centers both */
    padding: 10px 40px;               /* adds some breathing space */
    background-color: #fff;         /* optional styling */
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.iqie {
    width: 50px;
    height: 50px;
}

.pages {
    display: flex;
    gap: 20px;                   
}

.pages a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.pages a:hover {
    color: #b34040;                 
}

.wrapper {
    padding: 0px 20px 20px 20px;
}

.prev {
    margin: 10px;
}

.prev a{
    text-decoration: none;
}

.prev a:hover {
    color: #b34040; 
}

.content {
    padding: 0px 50px;
}

a:hover {
    color: #b34040;
}

.warning {
    background-color: #b34040;
    padding: 4px 8px;
}

/* phones */
@media (max-width: 600px) {

    .menu {
        padding: 10px;
    }

    .iqie {
        width: 35px;
        height: 35px;

    }

    .pages {
        gap: 5px;
    }

    .pages a {
        font-size: 6pt;
    }

    .content {
    padding: 0px 10px 0px 50px;
}
}

/* tablets */
@media (min-width: 601px) {

    .menu {
        padding: 10px;
    }

    .iqie {
        width: 35px;
        height: 35px;

    }

    .pages {
        gap: 10px;
    }

    .pages a {
        font-size: 10pt;
    }
}

/* bigger-ish tablets */
@media (min-width: 751px) {

    .menu {
        padding: 10px 40px;
    }

    .iqie {
        width: 40px;
        height: 40px;

    }

    .pages {
        gap: 15px;
    }

    .pages a {
        font-size: 10pt;
    }
}

/* everything else */
@media (min-width: 900px) {

    .menu {
        padding: 10px 40px;
    }

    .iqie {
        width: 50px;
        height: 50px;

    }

    .pages {
        gap: 20px;
    }

    .pages a {
        font-size: 100%;
    }
}