* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body {
    background: black;
}

.menu {
    display: flex;                    /* Puts logo and pages in one line */
    justify-content: space-between;   /* Pushes logo left, pages right */
    align-items: center;              /* Vertically centers both */
    padding: 10px 40px;               /* Adds some breathing space */
    background-color: #fff;         /* Optional styling */
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.iqie {
    width: 50px;
    height: 50px;
}

.pages {
    display: flex;
    gap: 20px;                        /* Adds space between the tabs */
}

.pages a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.pages a:hover {
    color: #b34040;                   /* Hover color */
}

.wrapper {
    padding: 0px 20px 20px 20px;
}

.name {
    padding-left: 8px;
    background-color: rgb(23, 23, 23);
    border-style: solid;
}

.tele-rat_c2 a:hover,
.anomoly_dash a:hover{
    color: #b34040; 
}

@media (max-width: 600px) {

    .menu {
        padding: 10px;
    }

    .iqie {
        width: 35px;
        height: 35px;

    }

    .pages {
        gap: 5px;
    }

    .pages a {
        font-size: 5.1pt;
    }
}

@media (max-width: 850px) {

    .menu {
        padding: 10px 40px;
    }

    .iqie {
        width: 40px;
        height: 40px;

    }

    .pages {
        gap: 15px;
    }

    .pages a {
        font-size: 10pt;
    }
}